<!DOCTYPE html>
<html>
    <head>
    <script>
        document.getElementById("demo").innerHTML = Date();
    </script>
    </head>


<body>

<center>
<embed src="https://www.youtube.com/embed/o8F2SaBbQNc?autoplay=1" preload="true" style="width:500px; height:300px;" >

</br></br></br>
<a href="/pass"> 내가 통과한다! </a>

<p>
    1. 멋사의 나이
    </br>
    <%= @age %>
    
    </br></br>
    2. 1번에 나이 2개 추가 후 나이 낮은 순으로 정렬
    </br>
    <%= @age2 %>
    </br></br>
   
    <p id="demo"></p>
    
</p>
    
    </center>
    </body>